#body2 {
    display: flex;
    align-items: center;
    background-image: url("./images/annie-spratt-EmHXM2YUd7Q-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.newBody2 {
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
}

.active {
    background-color: lightpink;
    opacity: 0.3;
    cursor: default;
}

#body3 {
    display: flex;
    align-items: center;
    background-image: url("./images/annie-spratt-6TX15VUFWGA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#body4 {
    display: flex;
    align-items: center;
    background-image: url("./images/daniel-mirlea-I7BFheLFsjU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home1 {
    font-size: 50px;
}